<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-column">
            <h3>NAVIGATION</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="https://www.asbm.edu.in/core-faculty/">Core Faculty</a></li>
                <li><a href="#">Visiting Faculty</a></li>
                <li><a href="#">Adjunct Faculty</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Event Payment Link</a></li>
                <li><a href="#">Media Coverage</a></li>
                <li><a href="#">Azadi Ka Amrit Mahotsav</a></li>
                <li><a href="#">Advisory Board</a></li>
                <li><a href="#">Recruiter</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>QUICK INFO</h3>
            <ul>
                <li><a href="https://www.asbm.edu.in/infrastructure/">Infrastructure</a></li>
                <li><a href="https://www.asbm.edu.in/careers/">Careers</a></li>
                <li><a href="#">Circulars</a></li>
                <li><a href="">Notices</a></li>
                <li><a href="#">Dress Code</a></li>
                <li><a href="https://www.asbm.edu.in/admission-procedure/">Admission Procedure</a></li>
                <li><a href="https://www.asbm.edu.in/admission-procedure/">Fee Structure</a></li>
                <li><a href="https://www.asbm.edu.in/online-fee-payment/">Online Fee Payment</a></li>
                <li><a href="https://www.asbm.edu.in/aicte/">Student Grievance</a></li>
                <li><a href="https://www.asbm.edu.in/blogs/">Blogs</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>INSTITUTES</h3>
            <ul>
                <li><a href="#">Aditya Institute of Management Studies</a></li>
                <li><a href="https://www.asbm.edu.in/core-faculty/">Aditya College of Architecture</a></li>
                <li><a href="https://www.ace.adityacampus.org/">Aditya Centre of Excellence</a></li>
                <li><a href="https://www.adityadesign.org/">Aditya College of Design Studies</a></li>
                <li><a href="https://adityacampus.org/idc/">International Design Competition</a></li>
                <li><a href="https://adityacampus.org/bdf/">Borivali Design Fair</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>GET IN TOUCH</h3>
            <ul>
                <li><a href="https://www.asbm.edu.in/traveling-directions/">Traveling Directions</a></li>
                <li><a href="https://maps.app.goo.gl/FRbyBujoLqKKdXBw6">Locate Us</a></li>
            </ul>
            <address>
                Aditya Educational Campus, R. M. Bhattad Road,<br>
                Ram Nagar, Borivali (West), Mumbai 400 092.<br>
                <a href="tel:18002669294">📞 180026 69294</a><br>
                <a href="tel:02235206111">📞 022352 06111</a><br>
                <a href="mailto:admissions@asbm.edu.in">📧 admissions@asbm.edu.in</a>
            </address>

            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; Copyright Aditya School of Business Management. All Rights Reserved
    </div>
</footer>