@{
    ViewBag.Title = "StudentBatch2022_2024";
}
<h2>Student Batch 2022-2024</h2>
<p>Placement records of the 2022-2024 batch.</p>

<table class="placement-table">
    <tr>
        <th>Student Name</th>
        <th>Company</th>
        <th>Location</th>
        <th>Package</th>
    </tr>
    <tr>
        <td>Rashmi Pathak</td>
        <td>Google</td>
        <th>Chennai</th>
        <td>₹28 LPA</td>
    </tr>
    <tr>
        <td>Shweta Nigam</td>
        <td>Google</td>
        <th>Banglore</th>
        <td>₹28 LPA</td>
    </tr>
    <tr>
        <td>Ramakrishnan Iyer</td>
        <td>Google</td>
        <th>Chennai</th>
        <td>₹28 LPA</td>
    </tr>
    <tr>
        <td>Pratibha Pandey</td>
        <td>Google</td>
        <th>Banglore</th>
        <td>₹25 LPA</td>
    </tr>
    <tr>
        <td>Nirma Sharma</td>
        <td>Microsoft</td>
        <th>Hyderabad</th>
        <td>₹22 LPA</td>
    </tr>
    <tr>
        <td>Kajal Singh</td>
        <td>Amazon</td>
        <th>Hyderabad</th>
        <td>₹20 LPA</td>
    </tr>
    <tr>
        <td>Rishabh Tiwari</td>
        <td>TCS</td>
        <th>Mumbai</th>
        <td>₹20 LPA</td>
    </tr>
    <tr>
        <td>Omkar Yadav</td>
        <td>Accenture</td>
        <th>Mumbai</th>
        <td>₹15 LPA</td>
    </tr>
    <tr>
        <td>Pratima Upadhayay</td>
        <td>Capgimini</td>
        <th>Mumbai</th>
        <td>₹10 LPA</td>
    </tr>
</table>

<style>
    body {
        background: linear-gradient(to right, #FFD700, #1E90FF);
    }

    .placement-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .placement-table th, .placement-table td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
            background: white;
        }

</style>





